<form method="post" action="{{ path('crontab_delete', {'id': crontab.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ crontab.id) }}">
    <br>
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
