{% extends 'base.html.twig' %}

{% block title %}Crontab{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="content">
        <div class="container-fluid">
            <h3>Crontab</h3>
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>State</th>
                        <th>Id</th>
                        <th>Time</th>
                        <th>Command</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for crontab in crontabs %}
                        <tr>
                            <td>{% if crontab.statusCrontab == 0 %}
                                    <div class="led-box">
                                        <div class="led-red"></div>
                                    </div>

                                {% else %}
                                    <div class="led-box">
                                        <div class="led-green"></div>
                                    </div>
                                {% endif %}</td>
                            <td>{{ crontab.id }}</td>
                            <td>{{ crontab.timeCrontab }}</td>
                            <td>{{ crontab.command }}</td>

                            <td>
                                <a class="btn btn-info btn-sm" href="{{ path('crontab_edit', {'id': crontab.id}) }}">Editar</a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No se encontrarón resultados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <a class="btn btn-warning btn-sm" href="{{ path('crontab_new') }}">Crear nuevo Crontab</a>

        </div> <!--  FIN <div class="container-fluid">  -->
    </div> <!--  FIN <div id="content"> -->
{% endblock %}
