{% extends 'base.html.twig' %}

{% block title %}Crear Crontab{% endblock %}

{% block body %}
    {{ parent() }}
    <br><br>
    <div id="content">
        <div class="container-fluid">
            <h3>Crear Crontab</h3>
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_label(form.timeCrontab, 'Crontab') }}
                                {{ form_widget(form.timeCrontab, {'attr': {'class': 'form-control text-separator-cron', 'spellcheck':'true'}}) }}
                                <span class="text-danger">{{ form_errors(form.timeCrontab) }}</span>
                            </div>
                            <div class="col-md-4">
                                {{ form_label(form.command, 'Command') }}
                                {{ form_widget(form.command, {'attr': {'class': 'form-control text-separator-cron', 'spellcheck':'true'}}) }}
                                <span class="text-danger">{{ form_errors(form.command) }}</span>
                            </div>
                        </div>
                        <div class="col-md-2" id="status_cron">
                            </br>{% if crontab.statusCrontab == 0 %}
                            <div class="led-box">
                                <div class="led-red"></div>
                            </div>

                        {% else %}
                            <div class="led-box">
                                <div class="led-green"></div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-md-5 cron-caja">
                <pre class="cron-text">
            *     *    *   *  *
            -     -    -   -  -
            |     |    |   |  |
            |     |    |   |  |
            |     |    |   |  +----- day of week (0 - 7) (Sunday=0 or 7)
            |     |    |   +---------- month (1 - 12)
            |     |    +--------------- day of month (1 - 31)
            |     +-------------------- hour (0 - 23)
            +------------------------- min (0 - 59)
        </pre>

                    </div>
                </div>

            </div>
            <br><br>
            <button class="btn btn-success btn-sm">{{ button_label|default('Crear nuevo Crontab') }}</button>
            {{ form_end(form) }}
            <br>
            <a class="btn btn-primary btn-sm" href="{{ path('crontab_index') }}">Volver</a>
        </div> <!--  FIN <div class="container-fluid">  -->
    </div> <!--  FIN <div id="content"> -->

{% endblock %}

