<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        const endpoint_crontab_deactivate = "{{ path('crontab_deactivate') }}";
        const endpoint_crontab_activate = "{{ path('crontab_activate') }}";
    </script>
    <script src="{{ asset('/assets/crontab.js') }}"></script>
{% endblock %}
</html>
